<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana Rideshares</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex justify-content-between mx-auto p-4 w-50">
        <h1 class="text-warning">Request a Ride</h1>
        <div class="d-flex gap-4">
            <a href="/dashboard">home</a>
            <a href="/logout">logout</a>
        </div>
    </header>
    <form action="/add_ride" method="post" class="container w-50 bg-dark rounded text-light p-4">
        <div class="mb-3">
            <label for="destination" class="form-label">Destination</label>
            {% if "destination" in session %}
                <input type="text" name="destination" class="form-control" value="{{session['destination']}}">
            {% else %}
                <input type="text" name="destination" class="form-control">
            {% endif %}
            {% with messages = get_flashed_messages(category_filter=["destination"])%}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="pickup" class="form-label">Pickup</label>
            {% if "pickup" in session %}
                <input type="text" name="pickup" class="form-control" value="{{session['pickup']}}">
            {% else %}
                <input type="text" name="pickup" class="form-control">
            {% endif %}
            {% with messages = get_flashed_messages(category_filter=["pickup"])%}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Rideshare Date</label>
            {% if "date" in session %}
                <input type="date" name="date" class="form-control" value="{{session['date']}}">
            {% else %}
                <input type="date" name="date" class="form-control">
            {% endif %}
            {% with messages = get_flashed_messages(category_filter=["date"])%}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="details" class="form-label">Details</label>
            {% if "details" in session %}
                <textarea name="details" cols="20" rows="7" class="form-control">{{session["details"]}}</textarea>
            {% else %}
                <textarea name="details" cols="20" rows="7" class="form-control"></textarea>
            {% endif %}
            {% with messages = get_flashed_messages(category_filter=["details"])%}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="submit" value="Post" class="btn btn-warning">
        <a href="/cancel_ride" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</body>
</html>